{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href={% static 'css/admin.css'%}>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block extrahead %}
    {% comment %} <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            alert("Привет, админ! Это мой кастомный HTML-код!");
        });
    </script> {% endcomment %}
{% endblock %}

{% block nav-global %}{% endblock %}

